repos:
- repo: local
  hooks:
    # Run the ruff linter and formatter using just command
    - id: ruff
      name: ruff
      description: "Format Python code using ruff format via just command"
      entry: just format
      language: system
      types_or: [python, pyi]
      pass_filenames: false

    # Check for secrets
    - id: trufflehog
      name: TruffleHog
      description: "Scanning local repo using the docker image"
      entry: bash -c "docker run -v "$(pwd):/repo" -i --rm trufflesecurity/trufflehog:latest git file:///repo  --since-commit HEAD --fail"
      language: system
      stages: ["pre-commit", "pre-push"]