# This file contains requirements that are not needed when running
# this project, but only when developing it
black # to reformat code
flake8 # to check code style
ipykernel # use notebooks
nbconvert # operations on notebooks
pre-commit # for automatic checks before git commit
pytest # test runner
pylint # for Theia